<!DOCTYPE html>
<html>
<body>
<!-- Karşılama -->
<p>Merhaba,</p>
<!-- Kullanıcıya kodu ve yönergeyi göster -->
<p>Hesabınızı doğrulamak için aşağıdaki <b>6 haneli</b> kodu uygulamaya girin:</p>
<h2 style="letter-spacing:5px; font-size: 2em;">[[${code}]]</h2>
<!-- Kodun geçerlilik süresi -->
<p>Kodunuz <b>[[${validityMinutes}]] dakika</b> boyunca geçerlidir.</p>
<!-- Güvenlik ve kapanış -->
<p>Eğer bu isteği siz yapmadıysanız, lütfen bu maili dikkate almayın.</p>
<p>Teşekkürler,<br/>SoundConnect Ekibi &#10084;&#65039;</p>
</body>
</html>